<section class="p-1 mb-2 rounded-lg bg-white dark:bg-slate-800 shadow-md">
  <h4 class="text-2xl font-bold p-4 tracking-tight border-b dark:border-slate-700">📚 Belajar lainnya</h4>
  <ul>
    {{ range .Site.Sections }}
      {{ range .Sections }}
      <li class="p-1 rounded-md line-clamp-2 cols-2">
        <a class='text-semibold p-2 w-full h-full inline-flex items-center gap-2 bg-slate-100 hover:bg-sky-600 hover:text-white dark:bg-slate-700 dark:hover:bg-sky-600' href="{{ .Permalink }}">
          {{- if .Params.Images -}}
            <img class="w-4 h-4" alt="{{ .Title }}" src="{{ index .Params.Images 0 | absURL }}" data-sizes="auto" loading="lazy" width="20px" height="20px" style="object-fit: cover;"/>
            {{else}}
            <img class='w-4 h-4' alt="{{ .Title }}" src="{{ absURL (default "/images/logo.png" .Site.Params.logo2) }}" data-sizes="auto" loading="lazy" width="20px" height="20px" style="object-fit: cover;">
            {{- end -}}   
          <p class="align-middle">
            
            {{ .Title }} 
          </p>
        </a>
      </li>
      {{- end -}}
    {{- end -}}
  </ul>
</section>